<table border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border-collapse:collapse;background-color:#ebedf0;font-family:'Alright Sans LP','Avenir Next','Helvetica Neue',Helvetica,Arial,'PingFang SC','Source Han Sans SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi MicroHei',sans-serif">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" align="center" width="640">
                <tbody>
                <tr>
                    <td style="height:20px"></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                            <tr style="line-height:40px">
                                <td style="text-align:center;font-size:30px" width="80">
                                    {{ brand }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40"></td>
                </tr>
                <tr>
                    <td style="background-color:#fff;border-radius:6px;padding:40px 40px 30px;color:#525866;line-height:28px;font-size:14px">
                        <p>您好,</p>
                        <p>您注册了{{ brand }},但还没有激活账户。</p>
                        <p>你可以点击下方链接完成激活:</p>
                        <p>激活你的{{ brand }}账户: <a href="{{ activeUrl }}" target="_blank">激活你的账户</a></p>
                        <p>
                        </p>
                        <p>
                            祝好,<br/>
                            {{ brand }} 团队
                        </p>
                        <p>----------------------------------------------------------------------------
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="height:40px"></td>
                </tr>
                <tr>
                    <td style="text-align:center;color:#7a8599;font-size:12px">
                        <p style="line-height:20px">
                            Copyright 2018 {{ brand }} All rights reserved.
                        </p>
                        <p style="line-height:20px">
                            <a style="text-decoration:none;color:#7a8599;padding:0 5px">退订此邮件</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="height:50px"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
